<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061781859342-fh2klinbp4nptd1qu34ned8180dii795.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061781859342-fh2klinbp4nptd1qu34ned8180dii795</string>
	<key>API_KEY</key>
	<string>AIzaSyAT5vnNGa_5_2X1mqWUS2961DqugmLsr1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1061781859342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>marvel.MarvelHQ</string>
	<key>PROJECT_ID</key>
	<string>marvelapi-mvvm</string>
	<key>STORAGE_BUCKET</key>
	<string>marvelapi-mvvm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061781859342:ios:dd9a3b8587543886aee05f</string>
</dict>
</plist>